
<div class="messageArea" #scrollFrame >
  <ul>
    <li class="message" *ngFor="let item of messageList">
      <span class="sender">{{ item.sender }}:</span>{{ item.message }}<small class="timestamp">{{ item.timeStamp | date:'medium'}}</small>
    </li>
  </ul>
</div>
<div class="box">
  <mat-form-field appearance="outline" (keyup.enter)="sendMessage()">
    <input matInput [(ngModel)]="chatMessage.message" >
    <mat-icon matSuffix (click)="sendMessage()" >send</mat-icon>
  </mat-form-field>
</div>







