<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/hike" routerLinkActive="active"  aria-label="Hike" >Hike</button>
    <button mat-menu-item routerLink="/bike" routerLinkActive="active"  aria-label="Bike" >Bike</button>
    <button mat-menu-item routerLink="/wake" routerLinkActive="active" aria-label="Wake" >Wake</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/error" routerLinkActive="active" aria-label="Error" >Error</button>
  </mat-menu>
  <span>Stream Chat</span>
  <span class="navigator-spacer"></span>
  <button mat-icon-button  routerLink="/bike" routerLinkActive="active" aria-label="Bike">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button *ngIf="isLoggedIn" (click)="logout()" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!isLoggedIn" (click)="login()" aria-label="Login">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>


<router-outlet></router-outlet>
