  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/hike" aria-label="Hike" >Hike</button>
      <button mat-menu-item routerLink="/bike" aria-label="Bike" >Bike</button>
      <button mat-menu-item routerLink="/wake" aria-label="Wake" >Wake</button>
    </mat-menu>
    <span>Stream Chat</span>
    <span class="navigator-spacer"></span>
    <button mat-icon-button  routerLink="/bike" aria-label="Bike">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isLoggedIn" (click)="logout()" aria-label="Logout">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!isLoggedIn" (click)="login()" aria-label="Login">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>

  <ng-container *ngIf="userProfile">
  <mat-grid-list cols="2" rowHeight="8:1">
    <mat-grid-tile>
      <table>
      <tr>
        <th scope="row">User:</th>
        <td>
          <span *ngIf="userProfile.firstName"> {{ userProfile.firstName }}</span>
          <span *ngIf="userProfile.lastName"> {{ userProfile.lastName }}</span>
        </td>
      </tr>
      </table>
    </mat-grid-tile>
    <mat-grid-tile>
      <table>
        <tr>
          <th scope="row">E-mail:</th>
          <td>
            <span *ngIf="userProfile.email"> {{ userProfile.email }}</span>
          </td>
        </tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
  </ng-container>


<div style="text-align: center; font-weight: bolder; font-size: 50px">
  <router-outlet></router-outlet>
</div>


